apiVersion: apps/v1
kind: Deployment
metadata:
  name: activity-service
  namespace: activity-service
spec:
  replicas: 1
  selector:
    matchLabels:
      app: activity-service
  template:
    metadata:
      labels:
        app: activity-service
    spec:
      containers:
        - name: activity-service
          image: ahmedeid101/activity-service:latest
          envFrom:
            - secretRef:
                name: activity-service-env
          ports:
            - containerPort: 3000
---
apiVersion: v1
kind: Service
metadata:
  name: activity-service
  namespace: activity-service
spec:
  type: LoadBalancer
  ports:
    - port: 80
      targetPort: 3000
  selector:
    app: activity-service
