apiVersion: apps/v1
kind: Deployment
metadata:
name: activity-service
spec:
replicas: 1
selector:
matchLabels:
app: activity-service
template:
metadata:
labels:
app: activity-service
spec:
containers:
- name: activity-service
image: <YOUR_REGISTRY>/event-driven-microservice-ts:latest
ports:
- containerPort: 3000
envFrom:
- configMapRef:
name: activity-config
- secretRef:
name: activity-secrets